@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root {
    --primary: #5423E7;
    --secondary: #FFFFFF;
    --tertiary: #6C6C89;
    --title-color: #121217;

    --font-heading: 'DM Sans', sans-serif;
    --font-body: 'Inter', sans-serif;
}

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: var(--font-body) !important;
    color: var(--tertiary);
    background-color: var(--secondary);
    line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--font-heading);
    font-weight: 500;
    color: var(--title-color);
}

.bg-primary {
    background-color: var(--primary);
    color: var(--secondary);
}

.bg-primary h1,
.bg-primary h2,
.bg-primary h3,
.bg-primary h4,
.bg-primary h5,
.bg-primary h6 {
    color: var(--secondary);
}

.bg-white {
    background-color: var(--secondary);
    color: var(--tertiary);
}